/* font-family: 'Roboto', sans-serif; */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 120%;
  font-size: 16px;
  background-color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__menu-left {
  display: flex;
  margin: 0 -16px;
}

.header__menu-item {
  margin: 0 16px;
}

.header__menu-link {
  color: rgba(0, 0, 0, 0.3);
  font-size: 10px;
  letter-spacing: 1.67px;
  transition: all 0.3s;
}

.header__menu-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menu-right {
  display: flex;
  margin: 0 -16px;
}

.header__button {
  margin-left: 32px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  font-size: 10px;
  letter-spacing: 1.67px;
  text-align: center;
  padding: 5px 18px;
  transition: all 0.3s;
  cursor: pointer;
}

.header__button:hover {
  color: #000;
  background-color: transparent;
}

.top {
  padding-top: 64px;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.top__title {
  font-family: 'Roboto';
  font-size: 57px;
  line-height: 140%;
  letter-spacing: 0.81px;
  margin-bottom: 33px;
}

.top__subtitle {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.44px;
}

.top__links {
  margin-top: 60px;
}

.links__btn {
  display: inline-block;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 2px;
  text-align: center;
  border: 1px solid #fff;
  width: 215px;
  padding: 8px 10px;
  max-width: 100%;
  transition: all 0.3s;
}

.links__btn + .links__btn {
  margin-left: 20px;
}

.links__btn:hover {
  background-color: #fff;
  color: #000;
}

.discover {
  padding: 16px 0px;
}

.discover__inner {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.discover__right,
.discover__left {
  width: 50%;
  text-align: center;
  padding: 30px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.discover__title {
  font-family: 'Roboto';
  font-size: 34px;
  line-height: 140%;
  letter-spacing: 0.5px;
  margin-bottom: 4px;
  margin-top: 280px;
}

.discover__subtitle {
  margin-top: 9px;
  font-size: 15px;
  line-height: 170%;
}

.discover__links {
  margin: 25px auto 0;
  max-width: 270px;
  display: flex;
  justify-content: space-between;
}

.discover__links-btn {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-align: center;
}

.product {
  background-color: #000;
}

.product__inner {
  padding: 66px 10px 88px;
  text-align: center;
  max-width: 560px;
  margin: 0 auto;
}

.product__title {
  font-family: 'Roboto';
  font-size: 38px;
  line-height: 120%;
  letter-spacing: 0.2px;
}

.product__image {
  margin-top: 32px;
}

.product__text {
  margin-top: 39px;
  line-height: 160%;
}

.laser {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 16px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.laser__inner {
  max-width: 558px;
  margin: 0 auto;
  padding: 289px 0px;
}

.laser__title {
  font-family: 'Roboto';
  font-size: 38px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.laser__links {
  margin-top: 28px;
}

.founder {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 16px;
}

.founder__inner {
  padding: 136px 10px;
  display: flex;
}

.founder__content {
  width: 50%;
  margin-left: auto;
  padding: 0 20px;
}

.founder__title {
  font-family: 'Roboto';
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.5px;
  color: #1b1b1b;
}

.founder__subtitle {
  max-width: 400px;
  font-size: 16px;
  line-height: 150%;
  color: #666666;
  margin-top: 33px;
}

.founder__link {
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  color: #1b1b1b;
  margin-top: 12px;
}

.footer {
  background-color: #000;
}

.footer__inner {
  padding: 96px 215px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
}

.footer__menu-item {
  padding-right: 58px;
  text-align: left;
}

.footer__menu-heading {
  padding-bottom: 40px;
  font-size: 13px;
  line-height: 150%;
}

.footer__menu-li {
  font-size: 12px;
  line-height: 120%;
  margin-bottom: 8px;
}

.footer__menu-link {
  color: #7e7e7e;
}

.footer__menu-btn {
  font-size: 12px;
  line-height: 120%;
  color: #fff;
  background-color: transparent;
  border: none;
  padding: 0;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__contacts-heading {
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 1.71px;
  margin-bottom: 42px;
}

.footer__form-label {
  font-size: 12px;
  line-height: 120%;
  color: #7e7e7e;
  text-align: right;
  margin-bottom: 15px;
}

.footer__form {
  display: flex;
}

.footer__form-input {
  font-size: 12px;
  line-height: 120%;
  color: #7e7e7e;
  background-color: #000;
  border: 1px solid #fff;
  width: 230px;
  max-width: 100%;
  padding: 12px;
}

.footer__form-input::placeholder {
  font-size: 12px;
  line-height: 120%;
  color: #7e7e7e;
}

.footer__form-btn {
  font-size: 12px;
  line-height: 120%;
  color: #7e7e7e;
  background-color: #fff;
  border: none;
  width: 135px;
  max-width: 100%;
  padding: 5px 10px;
  cursor: pointer;
}

.footer__contacts-social {
  margin-top: 50px;
}

.footer__social {
  display: flex;
  margin: 0 -12px;
}

.footer__social-item {
  margin: 0 12px;
}

.footer__social-link {
  cursor: pointer;
}

.footer__contacts-copy {
  font-size: 10px;
  line-height: 120%;
  color: #7e7e7e;
  margin-top: 17px;
}

.slide-wrapper {
  max-width: 100%;
}

.feedback__slide {
  font-size: 22px;
  line-height: 140%;
  letter-spacing: 0.8px;
  color: #1b1b1b;
  text-align: center;
  max-width: 30% !important;
  min-height: 230px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 15px;
}

.feedback__img {
  margin: 0 auto;
}

.feedback__inner {
  padding: 154px 0 138px;
}
